body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 400px;
  height: 400px;
}

img,
.content,
svg {
  max-width: 400px;
  max-height: 400px;
}

.dust {
  position: absolute;
}

.hide {
  display: none;
}

.glow-div {
  top: 0;
  left: 0;
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.time-div {
  top: 0;
  right: 0;
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.infinity,
.gauntlet {
  cursor: pointer;
  position: absolute;
  left: -12px;
  height: 80px;
  width: 80px;
  user-select: none;
  -moz-user-select: none;
}

.gauntlet {
  cursor: pointer;
  position: absolute;
  left: -12px;
  height: 80px;
  width: 80px;
  user-select: none;
  -moz-user-select: none;
}

.snap {
  position: absolute;
  top: 0;
  left: -12px;
  height: 80px;
  width: 80px;
  background-image: url("https://www.google.com/logos/fnbx/thanos/thanos_snap.png");
  background-position: left;
  background-repeat: no-repeat;
  animation: snaps 2s steps(47);
}

@keyframes snaps {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

.time {
  position: absolute;
  top: 0;
  left: -12px;
  height: 80px;
  width: 80px;
  background-image: url("https://www.google.com/logos/fnbx/thanos/thanos_time.png");
  background-position: left;
  background-repeat: no-repeat;
  animation: effect 2s steps(47);
}

@keyframes effect {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
